package user

import "github.com/lohanguedes/templOfLearning/internal/database"

templ ShowUser(u database.User) {
	<div class="">
		<h2>User: </h2>
		<h3>{ u.Username }</h3>
		<p>
			Email: { u.Email }
		</p>
		<button type="button" hx-get="/users/12" hx-target="this">My Message</button>
	</div>
}
