package layout

templ nav() {
	<div class="bg-blue-200 flex text-3xl flex-row gap-x-4 py-4 fixed w-screen z-40">
		<div>
			<a href="#">Home</a>
		</div>
		<div>
			<a href="#">About</a>
		</div>
		<div>
			<a href="#">plans</a>
		</div>
	</div>
}
